body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #e6e6e6;
}



.navbar {
  margin-bottom: 0 !important;
  background-color: #600605;
}

.jumbotron {
  background-image: url("images/Centennial High School.jpg");
  background-size: cover;
  padding: 100px;
  margin-bottom: 0 !important;
  color: #e6e6e6;
  text-shadow: 2px 2px 4px #000000;

}

.announcements {
  background-color: #e6e6e6;
  padding: 20px;
}

.calendar {
  padding: 20px;
}

footer {
  background-color: #600605;
  color: #e6e6e6;
  padding: 10px;
}
